
/* Dashboard */
/*MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  header + * + main {
    margin-top: calc(50px + 30px ) ;
  }
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    color: white;
    background-color: var(--header);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body {
    background-color: var(--body);
  }

  .title img {
    height: 30px;
  }
  .icons {
    display: flex;
    gap: 10px;
  }

  .fa-right-from-bracket{
    display: none;
  }
  
  .hamburger-items {
    width: 100%;
    height: 100vh;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    background-color: var(--aside);
    display: none;
    flex-direction: column;
    z-index: 999;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .colors {
    color: red;
  }

  .profile {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
    border: 0;
    border-radius: 5px;
  }

  .texts {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .account-settings {
    background-color: var(--anchor-tag);
    border: 0;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }

  .profile img {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 50%;
    object-fit: cover;
  }

  .hamburger-items ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hamburger-items li {
    list-style-type: none;

    display: flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 8px;

  }

  .hamburger-items ul li a {
    text-decoration: none;
    color: var(--links);
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }

  .hamburger-items ul li :hover {
    background-color: var(--header);
    color: white;
  }

  main {
    margin: 5px 10px;
  }
  .req-title {
    padding: 10px;
    border: 3px solid black;
    margin-top: 5rem;

    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  .dashboard-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 5px;
  }
  .box {
    margin-top: 20px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    gap: 10px;

    border-radius: 5px;
  }

  

  .image-wrapper img {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 5px;
  }

  .request {
    width: 100%;
    padding: 7px;
    border: 0;
    border-radius: 5px;
    background-color: var(--discard);
    color: white;

    text-transform: uppercase;
  }
  .modal {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .notice-container {
    background-color: whitesmoke;
    border: 0;
    border-radius: 8px;
    width: 80%;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  gap: 8px;
  }
  .confirm-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
  }

  canvas {
    display: none;
  }

  .fa-x {
    position: absolute;
    right: 1px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .info form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-img-container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
  }

  form img {
    border: 0;
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
    max-height: 220px;
    display: block;
  }

  .form-datas-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }

  .confirm,
  .capture-btn {
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background-color: var(--confirm);
    color: white;
    cursor: pointer;
  }

  .capture-btn {
    background-color: blue;
  }

  .camera-modal {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
  }

  .capture {
    position: absolute;
    bottom: 2rem;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  /* .add-vehicle {
    border: 0;
    border-radius: 4px;
    padding: 5px 5px;
    width: 100%;
    background-color: var(--anchor-tag);
    color: white;
  } */
}

/* landscape mobile */
@media screen and (min-width: 480px) and (max-height: 480px) and (orientation: landscape) {
  header + * + main {
    margin-top: calc(20px + 50px);
   
  }
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    color: white;
    background-color: var(--header);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title img {
    height: 40px;
  }

  .icons {
    display: flex;
    gap: 10px;
  }
  .fa-right-from-bracket {
    display: none;
  }
  .hamburger-items {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    top: 3.7rem;
    background-color: var(--aside);
    display: none;
    flex-direction: column;
    z-index: 999;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .colors {
    color: pink;
  }

  .profile {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
    border: 0;
    border-radius: 5px;
  }

  .texts {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .account-settings {
    background-color: var(--links);
    border: 0;
   padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }


  .profile img {
    height: 50px;
  }

  .hamburger-items ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hamburger-items li {
     list-style-type: none;

     border: 1px solid black;
     border-radius: 8px;
 
  }

  .hamburger-items ul li a {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: var(--links);
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.15s;
  }
  .hamburger-items ul li :hover {
    background-color: var(--header);
    color: white;
  }


  main {
    margin: 10px 15px;
  }
  .req-title {
    padding: 10px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5rem;
  }
  .dashboard-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 5px;
  }
  .box {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    gap: 10px;

    border-radius: 5px;
  }
  .image-wrapper img {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 5px;
  }

  .request {
    width: 100%;
    padding: 7px;
    border: 0;
    border-radius: 5px;
    background-color: var(--discard);
    color: white;
    font-size: 15px;
    text-transform: uppercase;
  }

  .modal {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

  .notice-container {
    background-color: whitesmoke;
    border: 0;
    border-radius: 8px;
    width: 90%;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .confirm-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    padding: 10px;
  }
  canvas {
    display: none;
  }

  .fa-x {
    position: absolute;
    right: 1px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  form {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .form-img-container,
  .form-datas-container {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .form-img-container {
    border: 1px solid black;
    border-radius: 5px;
  }
  .form-datas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  form img {
    width: 100%;
    min-height: 250px;
    max-height: 300px;
    border-radius: 5px;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }

  .confirm,
  .capture-btn {
    width: 100%;
    height: 100%;
    padding:10px;
    border: 0;
    border-radius: 4px;
    background-color: var(--confirm);
    color: white;
    cursor: pointer;
  }

  .capture-btn {
    background-color: blue;
  }
  .camera-modal {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
  }

  .capture {
    position: absolute;
    bottom: 2rem;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* Tablet and iPad Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header + * + main {
    margin-top: calc(40px + 50px);
  }
  header {
    
    color: white;
    background-color: var(--header);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title img {
    height: 50px;
  }
  .icons {
    display: flex;
    gap: 10px;
  }
  .fa-right-from-bracket {
    display: none;
  }
  .hamburger-items {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    background-color: var(--aside);
    display: none;
    flex-direction: column;
    z-index: 999;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .colors {
    color: pink;
  }

  .profile {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
    border: 0;
    border-radius: 5px;
  }

  .texts {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .account-settings {
    background-color: var(--links);
    border: 0;
    padding: 10px  15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }

  .profile img {
    height: 50px;
  }

  .hamburger-items ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hamburger-items li {
    list-style-type: none;
    border: 1px solid black;
  }

  .hamburger-items ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: 0.15s;
    display: flex;
    gap: 10px;
    padding: 10px;
    color: var(--links);
  }

  .hamburger-items ul li a:hover {
    background-color: var(--header);
    color: white;
  }

  main {
    padding: 10px;
  }
 
  .dashboard-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 5px;
  }
  .box {
    margin-top: 20px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    gap: 10px;

    border-radius: 5px;
  }
  .image-wrapper img {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 5px;
  }

  .request {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--discard);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }

  .modal {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .notice-container {
    background-color: white;
    border: 0;
    border-radius: 8px;
    width: 0%;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .confirm-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
  }

  canvas {
    display: none;
  }

  .fa-x {
    position: absolute;
    right: 1px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
  .info form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-img-container,
  .form-datas-container {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .form-img-container {
    border: 1px solid black;
    border-radius: 5px;
  }
  .form-datas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  form img {
    border: 0;
    border-radius: 5px;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    display: block;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }

  .confirm,
  .capture-btn {
    width: 100%;
    padding:10px;
    border: 0;
    border-radius: 4px;
    background-color: var(--confirm);
    color: white;
    cursor: pointer;
  }

  .capture-btn {
    background-color: blue;
  }

  .camera-modal {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
  }

  .capture {
    position: absolute;
    bottom: 2rem;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* Desktops */

@media screen and (min-width: 1024px) {
  header {
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  body {
    background-color: var(--body);
  }
 

  .title {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    
  }

  .title img {
    height: 3.5rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  header i {
    font-size: 20px;
    color: #ffff;
  }

  .hamburger-items {
    background-color: var(--aside);
    position: fixed;
    width: 30%;
    height: 100%;
    top: 4.7rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
    z-index: 999;
  }

  .hamburger-items img {
    height: 6rem;
    width: 6rem;
    border: 0;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile {
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .account-settings {
    padding: 5px 10px;
    background-color: var(--links);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s;
  }

  .account-settings:hover {
    opacity: 0.8;
  }
  .account-settings:active {
    opacity: 0.6;
  }

  .hamburger-items ul {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .hamburger-items ul li {
    list-style-type: none;

    cursor: pointer;
    
  } 

  .hamburger-items ul li a {
    border: 0;
    border-radius: 5px;
    transition: 0.15s;
    text-decoration: none;
    color: var(--links);
    display: flex;
    gap: 1rem;
    padding: 10px;
  }

  .hamburger-items ul li a:hover {
    background-color: var(--header);
    color: white;
  }
  main {
    margin-top: 4.2rem;
    padding: 5rem;
  }


  .dashboard-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;

    gap: 1rem;
  }
  .box {
   
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       padding: 10px;
       border: 0;
     border-radius: 10px;
  }

  .box img {
    width: 100%;
    height: 100%;
  }
  .request {
    padding: 10px;
    width: 100%;
    background-color: var(--discard);
    color: white;
    border: 0;
    cursor: pointer;
    transition: 0.15s;
  }
  .request:hover {
    opacity: 0.8;
  }
  .request:active {
    opacity: 0.6;
  }

  .modal {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }

  .notice-container {
    background-color: white;
    position: relative;
    gap: 10px;
    padding: 10px;
    width: 60%;
  }
  .confirm-title {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
  }

  #discard {
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 5px;
  }

  form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .form-img-container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    flex: 1;
  }
  .form-img-container img {
    width: 380px;
    height: 350px;
  }
  .form-datas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 10px;
    flex: 1;
  }

  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  canvas {
    display: none;
  }

  .camera-modal {
    display: none;
  }

  .camera-modal {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
  }

  .capture {
    position: absolute;
    bottom: 2rem;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .form-btn button {
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  }
  .capture-btn,
  .confirm {
    padding: 5px;
    width: 300px;
  }
  .capture-btn {
    background-color: blue;
  }

  .confirm {
    background-color: var(--confirm);
  }
}


