@import url(./root.css);
@import url(./typography.css);


/* Mobile */
/* 
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {

} */



@media screen and (min-width: 124px) {

        nav {
            background-color: var(--header);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 8%;
            padding: 10px 20px;
            z-index: 1000;

        }
        
        .side-history {
            display: none;
        }

        nav i , nav a {
            color: white;
            text-decoration: none;
        }
        nav i {
            font-size: 1rem;
        }

        .nav-history {
            display: flex;
            gap: 1rem;
        }   
        main {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .profile-settings {
            background-color:var(--aside);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            display: flex;
            flex-direction: column; 
            gap: 2rem;
            padding: 1rem;
            width: 50%;
            border: 0;
            border-radius: 10px;
        }
       
        .profile-img img {
            height: 60%;
           
        }
        .profile-img {
            display: flex;
            justify-content: center;
            align-items: center;
            position:relative;
          }
        .profile-img img {

            border: 1px solid black;
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
            
        }
       .fa-camera-retro{
        font-size: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 17rem;
        background-color: white;
        padding: 10px;
        border: 0;
        border-radius: 50%;
        

       }
        .wrapper {
            display: flex;
            justify-content: space-between;
        }
        .wrapper button {
            padding: 5px 2rem;
            
        }

        



}   

