:root {
    --header: #FAB12F;
    --background-color : #F4F6FF;
    --main-color : #FF2929;
    --font-family: Arial, Helvetica, sans-serif;
    --font-color : white;
    --anchor-tag: #0D92F4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-image: url(../photos/kABANKALN.jpg); 
    backdrop-filter: blur(5px) brightness(0.5);
    background-repeat: no-repeat; 
    background-size: cover; 
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    border: 0;
    border-radius: 20px;
    background-color: #F4F6FF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
   
}

.side-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--header);
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px 0px 0px 20px;
}

.profile{
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 1px solid black;
    background: url(../photos/blank-profile.webp)no-repeat;
    background-position: center;
    background-size: cover;
    
}

.camera-btn{
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb( 0, 0, 0, 0.9);
    border-radius: 20px;
    border: none;
    transform: translate(100px, 110px);
    color: white;
    cursor: pointer;
}

.account-info{
    display: flex;
   flex-direction: column;
    
}

.account-info input{
    height: 30px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    color: black;
}   

.account-info input::placeholder{
    color: black;
}

.login-form{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.personal-info{
    width: 100%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.personal-info input{
    height: 30px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    color: black;
}

.personal-info input::placeholder{
    color: black;
}

.gender{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gender-con{
    display: flex;
    gap: 15px;
 
}

.gender-con input{
    cursor: pointer;
}

.reg-btn{
    background: var(--main-color);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--background-color);
    font-weight: bold;
}

a{
    color: var(--anchor-tag);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}